--
-- PostgreSQL database dump
--

\restrict 9lerfvIhqWlKh9bjcaedFkb417wuE9AvPoWmLLeE0g187g9W5xyQAJ3WghaeBss

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: issuance_parts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.issuance_parts (
    id integer NOT NULL,
    issuance_id integer,
    product_id integer,
    quantity integer NOT NULL,
    notes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT issuance_parts_quantity_check CHECK ((quantity > 0))
);


ALTER TABLE public.issuance_parts OWNER TO postgres;

--
-- Name: issuance_parts_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.issuance_parts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.issuance_parts_id_seq OWNER TO postgres;

--
-- Name: issuance_parts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.issuance_parts_id_seq OWNED BY public.issuance_parts.id;


--
-- Name: issuance_parts id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.issuance_parts ALTER COLUMN id SET DEFAULT nextval('public.issuance_parts_id_seq'::regclass);


--
-- Name: issuance_parts issuance_parts_issuance_id_product_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.issuance_parts
    ADD CONSTRAINT issuance_parts_issuance_id_product_id_key UNIQUE (issuance_id, product_id);


--
-- Name: issuance_parts issuance_parts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.issuance_parts
    ADD CONSTRAINT issuance_parts_pkey PRIMARY KEY (id);


--
-- Name: issuance_parts issuance_parts_issuance_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.issuance_parts
    ADD CONSTRAINT issuance_parts_issuance_id_fkey FOREIGN KEY (issuance_id) REFERENCES public.issuances(id) ON DELETE CASCADE;


--
-- Name: issuance_parts issuance_parts_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.issuance_parts
    ADD CONSTRAINT issuance_parts_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict 9lerfvIhqWlKh9bjcaedFkb417wuE9AvPoWmLLeE0g187g9W5xyQAJ3WghaeBss

