--
-- PostgreSQL database dump
--

\restrict UIR1v7DasSMkor97tJ7b8DdmPLCYeoVd3a1y9O4RJqM0Rns3u512eLYPOJmwtfW

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: issuances; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.issuances (
    id integer NOT NULL,
    issuance_number character varying(50) NOT NULL,
    date_issued date DEFAULT CURRENT_DATE NOT NULL,
    technician_name character varying(100) NOT NULL,
    recipient character varying(200),
    issued_by character varying(100),
    service_job character varying(200),
    car_details text,
    notes text,
    total_quantity integer DEFAULT 0,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.issuances OWNER TO postgres;

--
-- Name: issuances_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.issuances_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.issuances_id_seq OWNER TO postgres;

--
-- Name: issuances_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.issuances_id_seq OWNED BY public.issuances.id;


--
-- Name: issuances id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.issuances ALTER COLUMN id SET DEFAULT nextval('public.issuances_id_seq'::regclass);


--
-- Name: issuances issuances_issuance_number_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.issuances
    ADD CONSTRAINT issuances_issuance_number_key UNIQUE (issuance_number);


--
-- Name: issuances issuances_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.issuances
    ADD CONSTRAINT issuances_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict UIR1v7DasSMkor97tJ7b8DdmPLCYeoVd3a1y9O4RJqM0Rns3u512eLYPOJmwtfW

