--
-- PostgreSQL database dump
--

\restrict qyMmaWHqygyzbeqloBsOvt9k0pnr7VrQ6tcvg3zfp72gywmKKxVKXGyc9xZB04V

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products (
    id integer NOT NULL,
    productname character varying(255) NOT NULL,
    category character varying(50),
    subcategory character varying(100),
    description text,
    price character varying(50),
    rating numeric(3,2) DEFAULT 0,
    reviewcount integer DEFAULT 0,
    availability character varying(20) DEFAULT 'Out of Stock'::character varying,
    image character varying(500),
    stock integer DEFAULT 0,
    compatibility character varying(255),
    "position" character varying(100),
    brand character varying(100),
    finish character varying(100),
    material character varying(100),
    surfaceuse character varying(100),
    type character varying(100),
    color character varying(50),
    volume character varying(50),
    mountingfeatures character varying(255),
    colorcode character varying(50),
    quantity integer DEFAULT 0,
    minquantity integer DEFAULT 0,
    discounttype character varying(50),
    discountvalue numeric(10,2) DEFAULT 0,
    warranty character varying(100),
    manufacturer character varying(100),
    manufactureddate date,
    expirydate date,
    notes text,
    resistance character varying(100),
    drytime character varying(50),
    applicationmethod character varying(100),
    voltage character varying(50),
    amprating character varying(50),
    connectortype character varying(100),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    size character varying(100),
    CONSTRAINT products_availability_check CHECK (((availability)::text = ANY ((ARRAY['In Stock'::character varying, 'Low Stock'::character varying, 'Out of Stock'::character varying])::text[]))),
    CONSTRAINT products_category_check CHECK (((category)::text = ANY ((ARRAY['Engine & Fluids'::character varying, 'Wear & Tear Parts'::character varying, 'Exterior & Body Parts'::character varying, 'Paints & Coatings'::character varying, 'Engine & Drivetrain Components'::character varying, 'Electrical Components'::character varying, 'Accessories & Add-ons'::character varying, 'Tools & Kits'::character varying])::text[])))
);


ALTER TABLE public.products OWNER TO postgres;

--
-- Name: products_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.products_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.products_id_seq OWNER TO postgres;

--
-- Name: products_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.products_id_seq OWNED BY public.products.id;


--
-- Name: products id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products ALTER COLUMN id SET DEFAULT nextval('public.products_id_seq'::regclass);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict qyMmaWHqygyzbeqloBsOvt9k0pnr7VrQ6tcvg3zfp72gywmKKxVKXGyc9xZB04V

